<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.0/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true">

    <!-- Test Suite Configuration -->
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>

    <!-- Test Execution Options -->
    <php>
        <ini name="display_errors" value="1" />
        <ini name="error_reporting" value="-1" />
    </php>

    <!-- Logging Configuration -->
    <logging>
        <testdoxHtml outputFile="testdox.html"/>
    </logging>

    <!-- PHPUnit Extensions Configuration (e.g., database setup/teardown) -->
    <!-- Include your extensions here if needed -->

    <!-- Filters Configuration (e.g., including/excluding tests) -->
    <!--
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    -->
    <source>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
    </source>

    <!-- Code Coverage Configuration -->
    <coverage includeUncoveredFiles="true">
        
    </coverage>


</phpunit>
